@{
    Layout = "_UserLayout";
}
@model CSI402.ViewModels.ProjectUserViewModel

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center mb-3">
                    <h2 class="mb-0">สมัครสมาชิก</h2>
                </div>
                <div class="card-body">
                    <form asp-for="User" asp-controller="Project" asp-action="Register" method="post">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="username" class="form-label">ชื่อผู้ใช้</label>
                                <input type="text" class="form-control" asp-for="UserName" placeholder="กรอกชื่อผู้ใช้">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <label for="fullname" class="form-label">ชื่อ-นามสกุล</label>
                                <input type="text" class="form-control" asp-for="Fullname">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="tel" class="form-label">โทรศัพท์</label>
                                <input type="tel" class="form-control" asp-for="Phone" placeholder="08x-xxx-xxxx">
                            </div>
                        </div>


                        <div class="mb-3">
                            <label for="email" class="form-label">อีเมล</label>
                            <input type="email" class="form-control" asp-for="Email">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">ที่อยู่</label>
                            <input type="text" class="form-control" asp-for="Address">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">รหัสผ่าน</label>
                            <input type="password" class="form-control" asp-for="Password">
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">ลงทะเบียน</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>