@{
    Layout = "_TestLayout";
}
<div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ร้านขายของออนไลน์</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">รายการสินค้า</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Assessment">ตะกร้า</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    Hello from Test1 view in Account controller.
    <div class="row">
        <div class="border col-4">col-4</div>
        <div class="border col-4">col-4</div>
        <div class="border col-4">col-4</div>
    </div>
    <div class="row">
        <div class="border col-md-4">col-md-4</div>
        <div class="border col-md-4">col-md-4</div>
        <div class="border col-md-4">col-md-4</div>
    </div>
    <div class="row">
        <div class="border col-lg-4">col-lg-4</div>
        <div class="border col-lg-4">col-lg-4</div>
        <div class="border col-lg-4">col-lg-4</div>
    </div>
    <div class="row">
        <div class="border col-xl-4">col-xl-4</div>
        <div class="border col-xl-4">col-xl-4</div>
        <div class="border col-xl-4">col-mxl-4</div>
    </div>
    <div class="container" style="border: 1px solid #ff0000;">
        Container
    </div>
    <div class="container-fluid" style="border: 1px solid #ff0000;">
        Container-Fluid
    </div>
    <p class="text-start">text1</p>
    <p class="text-center">text2</p>
    <p class="text-end">text3</p>

    <div class="container">
        <h1>Promotion 11.11</h1>
        <blockquote class="blockquote">โปรโมชั่น 11 เดือน 11</blockquote>
        <footer class="blockquote">ที่มา: นายคุณากร ขำเจริญ</footer>
    </div>

    <div class="container btn-group">
        <button>ปุ่มธรรมดา</button>
        <button class="btn">ปุ่ม boot strap</button>
        <button class="btn btn-success">ปุ่ม success</button>
        <button class="btn btn-danger">ปุ่ม danger</button>
        <button class="btn btn-primary">ปุ่ม primary</button>
        <button class="btn btn-light">ปุ่ม light</button>
        <button class="btn btn-link">ปุ่ม link</button>
        <button class="btn btn-dark">ปุ่ม dark</button>
        <button class="btn btn-info">ปุ่ม info</button>
    </div>

</div>