@model CSI402.ViewModels.Lab9Users

<form asp-for="Lab9" asp-controller="Home">
    UserId <input type="text" class="form-control" asp-for="UserId"/>
    <br />
    Password <input type="text" class="form-control" asp-for="Password"/>
    <br />
    Name <input type="text" class="form-control" asp-for="Name"/>
    <br />
    Lastname <input type="text" class="form-control" asp-for="Lastname"/>
    <br />
    <button type="submit" class="btn btn-primary">summit</button>
</form>